footer{
    background-color: blueviolet;
    margin: 0px;
}

#f{
    align-self: center;
}
#f-FB{
    padding-left: 10%;
}

#f-Tw{
    padding-left: 10%;
}

#f-G{
    padding-left: 10%;
}

#f-Li{
    padding-left: 10%;
}

#f-Be{
    padding-left: 10%;
}

#f-Dr{
    padding-left: 10%;
}

#f-GH{
    padding-left: 10%;
}